USE [master]
GO
/****** Object:  Database [MilkKombinat]    Script Date: 02.06.2026 14:39:49 ******/
CREATE DATABASE [MilkKombinat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MilkKombinat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MilkKombinat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MilkKombinat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MilkKombinat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MilkKombinat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MilkKombinat]
GO
/****** Object:  Table [dbo].[CenaMaterials]    Script Date: 02.06.2026 14:39:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CenaMaterials](
	[CenaMat_Id] [int] NOT NULL,
	[Material_Id] [int] NOT NULL,
	[Cena] [money] NOT NULL,
 CONSTRAINT [PK_Cena] PRIMARY KEY CLUSTERED 
(
	[CenaMat_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CenaProduct]    Script Date: 02.06.2026 14:39:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CenaProduct](
	[CenaProduct_Id] [int] NOT NULL,
	[Product_Id] [int] NOT NULL,
	[Cena] [money] NOT NULL,
 CONSTRAINT [PK_CenaProduct] PRIMARY KEY CLUSTERED 
(
	[CenaProduct_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Edinica]    Script Date: 02.06.2026 14:39:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Edinica](
	[Edinic_Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Edinica] PRIMARY KEY CLUSTERED 
(
	[Edinic_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 02.06.2026 14:39:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[Material_Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Kode] [nvarchar](50) NOT NULL,
	[Kolichestvo] [int] NOT NULL,
	[Edinic_Id] [int] NOT NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[Material_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prodykcia]    Script Date: 02.06.2026 14:39:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodykcia](
	[Product_Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Kode] [nvarchar](50) NOT NULL,
	[Kolichestvo] [int] NOT NULL,
	[Edinic_Id] [int] NOT NULL,
 CONSTRAINT [PK_Prodykcia] PRIMARY KEY CLUSTERED 
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RasschetStoimostiMa]    Script Date: 02.06.2026 14:39:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RasschetStoimostiMa](
	[Rasshet_Id] [int] NOT NULL,
	[Produkcia_Id] [int] NOT NULL,
	[MaterialsOne_id] [int] NOT NULL,
	[MaterialsTwo_id] [int] NOT NULL,
 CONSTRAINT [PK_RasschetStoimosti] PRIMARY KEY CLUSTERED 
(
	[Rasshet_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 02.06.2026 14:39:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Roles_Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Roles_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specifikacia]    Script Date: 02.06.2026 14:39:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specifikacia](
	[Specifikacia_Id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02.06.2026 14:39:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Users_Id] [int] NOT NULL,
	[Role_Id] [int] NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Users_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakazchiki]    Script Date: 02.06.2026 14:39:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakazchiki](
	[Zakazchik_Id] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Inn] [nvarchar](max) NULL,
	[Adress] [nvarchar](80) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Salesman] [tinyint] NULL,
	[Buyer] [tinyint] NULL,
 CONSTRAINT [PK_Zakazchiki] PRIMARY KEY CLUSTERED 
(
	[Zakazchik_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakazi]    Script Date: 02.06.2026 14:39:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakazi](
	[Zakaz_Id] [int] NOT NULL,
	[Product_Id] [int] NOT NULL,
	[Kolichestvo] [int] NOT NULL,
	[Edinic_Id] [int] NOT NULL,
	[Cena] [money] NOT NULL,
	[Summa] [money] NOT NULL,
 CONSTRAINT [PK_Zakazi] PRIMARY KEY CLUSTERED 
(
	[Zakaz_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Zakazchiki] ON 

INSERT [dbo].[Zakazchiki] ([Zakazchik_Id], [Id], [Name], [Inn], [Adress], [Phone], [Salesman], [Buyer]) VALUES (1, 1, N'ООО \"Поставка\', NULL, N'г.Пятигорск', N'+79198634592', 1, 1)
INSERT [dbo].[Zakazchiki] ([Zakazchik_Id], [Id], [Name], [Inn], [Adress], [Phone], [Salesman], [Buyer]) VALUES (2, 2, N'ООО \"Кинотеатр Квант\', N'26320045123', N'г. Железноводск, ул. Мира, 123', N'+79884581555', 1, NULL)
INSERT [dbo].[Zakazchiki] ([Zakazchik_Id], [Id], [Name], [Inn], [Adress], [Phone], [Salesman], [Buyer]) VALUES (3, 8, N'ООО \"Новый JDTO\', N'26320045111', N'г. Железноводсу', N'+79884581555', 1, NULL)
SET IDENTITY_INSERT [dbo].[Zakazchiki] OFF
GO
USE [master]
GO
